.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 90;
  background: rgba(0, 0, 0, 0.2);
  height: 5rem;
  filter: brightness(1);
}

.logo {
  color: white;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  margin-left: 1.5rem;
  margin-top: 1.55rem;
  font-size: 1.2rem;
}

.wname {
  font-size: 0.7rem;
}

.navListContainer {
  position: absolute;
  top: 2rem;
  left: 32%;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.mgn {
  color: white;
  width: 4rem;
  text-align: center;
  height: 1.5rem;
  padding-top: 3px;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Nunito";
  text-transform: uppercase;
  text-align: center;
}

.home {
  margin-left: 0rem !important;
  color: white;
  text-align: center;
  height: 1.5rem;
  padding-top: 3px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
  margin-left: 2rem;
  width: 5rem;
}
.nomgn{
  margin-left: 0rem !important;
}
.mobileNav {
  display: none;
}
.mobileList {
  background-color: black;
  position: absolute;
  width: 8.7rem;
  z-index: 99;
  list-style: none;
  right: 0;
  margin-top: 0.8rem;
  height: 10.82rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: translateX(-100vw);
  opacity: 0;
  overflow-x: hidden !important;
}
.drawer {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

@media screen and (max-width: 710px) and (min-width: 640px) {
  .link {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width:600px) and (max-width:640px) {
  .link{
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    background-color: black;
  }
  .navListContainer {
    display: none;
  }
  .mobileNav {
    display: block;
  }
  .mgn{
    width: 6rem;
  }
  .link{
    margin-left: 0;
  }
}
