.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 90;
  background: rgba(0, 0, 0, 0.2);
  height: 5rem;
  filter: brightness(1);
}

.logo {
  color: white;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  margin-left: 1.5rem;
  margin-top: 1.55rem;
  font-size: 1.2rem;
}

.wname {
  font-size: 0.7rem;
}

.navListContainer {
  position: absolute;
  top: 2rem;
  left: 32%;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.mgn {
  color: white;
  width: 4rem;
  text-align: center;
  height: 1.5rem;
  padding-top: 3px;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Nunito";
  text-transform: uppercase;
  text-align: center;
}

.home {
  margin-left: 0rem !important;
  color: white;
  text-align: center;
  height: 1.5rem;
  padding-top: 3px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
  margin-left: 2rem;
  width: 5rem;
}
.nomgn{
  margin-left: 0rem !important;
}
.drawerIcon{
  display: none;
}
.drawer{
  height: 100vh;
  width: min(65vw, 400px);
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  color: white;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
  margin-top:0.85rem;
  display: none;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  overflow-y:scroll;
}

.title{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drwerlogo{
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  font-size: 21px;
}
.cross{
  position: absolute;
  top: 1.4rem;
  right: 0.7rem;
  scale: 1.5;
}
.listTile{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
}
.list{
  display: flex;
  margin-top: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.link{
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.headHome{
  display: inline-block;
  padding-bottom: 0.7rem;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.homeIcon{
  padding-top: 0.15rem;
  scale: 1.28;
}
.drawerImage{
  position: absolute;
  right: 2rem;
  top: 2.3rem;
}

@media screen and (max-width: 710px) and (min-width: 640px) {
  .link {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width:600px) and (max-width:640px) {
  .link{
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    background-color: black;
  }
  .navListContainer {
    display: none;
  }
  .drawer{
    display: block;
  }
  .drawerIcon{
    display: block;
  }
  .mgn{
    width: 6rem;
  }
  .link{
    margin-left: 0;
  }
}