.cardContainer{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 18rem;
    overflow-x: hidden;
    background-color: white;
    margin-top: 1rem;
}

.item{
    height: 24rem;
    width: 17rem;
    margin-bottom: 1rem;
    background-color: white;
}

.link{
    display: block;
    height: 23rem;
    width: 16rem;
    text-decoration: none;
    color: black;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    margin: 0;
}

.cImage{
    width: 16rem;
}

.dealer{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.circle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem
}

.name{
    font-size: small;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin-left: 0.5rem;
}

.location{
    margin-top: 0.8rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.locName{
    margin-left: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;    
    margin-right: 3.8rem;
}

.locIcon{
    position: absolute;
    left: 2.5rem;
}

.sale{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    background-color: rgba(0,212,255,0.6);
    width: 3rem;
    text-align: center;
    position: absolute;
    right: 4.5rem;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-left: 0.5rem;
    justify-content: space-evenly;
}

.iconContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 0.9rem;
}

.iconContainer2{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.rpic{
    width: 1.55rem;
    filter: invert(0.2);
    padding-top: 0.1rem;
}

.bpic{
    width: 1.2rem;
    filter: invert(0.2);
}

.wpic{
    width: 1rem;
    filter: invert(0.3);
}

.rno{
    margin-left: 0.3rem;
    font-family: 'Nunito Sans', sans-serif;
    color: rgba(0,0,0,0.4);
}

.priceContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.price{
    width: 5rem;
    height: 1.5rem;
    background-color: #00D4FF;
    border: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 0.2rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

.unit{
    font-size: x-small;
    font-family: 'Nunito Sans', sans-serif;
}

.pkPrice{
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgba(0,212,255,0.9);
    font-weight: 800;
    width: 6rem;
    text-align: center;
    height: 1.3rem;
    margin-left: 0.7rem;
}